{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.5.0/dist/ol.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ol@v10.5.0/ol.css"
    />
    <style>
      #map {
        height: calc(
          100vh - 56px
        );
        width: 100%;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="{% static 'logos/LOGOpronaturaSUR.webp' %}"
            alt="Pronatura"
            width="55"
            height="35"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'inicio' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mapaGanaderia' %}">Mapa</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Capas base
              </a>
              <ul class="dropdown-menu">
                <li onclick="setBaseLayer('osm-standard')"><a class="dropdown-item" href="#" >Estándar</a></li>
                <li onclick="setBaseLayer('osm-carto-light')"><a class="dropdown-item" href="#">Claro</a></li>
                <li onclick="setBaseLayer('osm-carto-dark')"><a class="dropdown-item" href="#">Oscuro</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Consultas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <button class="btn btn-outline-success" id="login" type="submit">Iniciar sesion</button>
        </div>
      </div>
    </nav>

    <div id="map"></div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <i class="fas fa-seedling fa-3x mb-2"></i>
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Bienvenidos a la aplicación de Cafe
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Esta aplicación se elaboró en el marco del proyecto.., con el objetivo
            de analizar las tendencias de deforestación y su relación con los
            programas federales en materia agrícola, pecuaria y forestal.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/geotiff@2.0.7/dist-browser/geotiff.js"></script>
  <script >

 /*   const baseLayers = {
  "osm-standard": new ol.layer.Tile({
    title: "OpenStreetMap Estándar",
    type: "base",
    visible: true,
    source: new ol.source.OSM(),
  }),
  "osm-carto-light": new ol.layer.Tile({
    title: "CartoDB Claro",
    type: "base",
    visible: false,
    source: new ol.source.XYZ({
      url: "https://{a-c}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png",
    }),
  }),
  "osm-carto-dark": new ol.layer.Tile({
    title: "CartoDB Oscuro",
    type: "base",
    visible: false,
    source: new ol.source.XYZ({
      url: "https://{a-c}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png",
    }),
  }),
};

const raster = new ol.layer.WebGLTile({
  source: new ol.source.GeoTIFF({
    sources: [{
      url: 'http://localhost/raster/aptitud_forestal_rend_3b.tif',
      bands: [1, 2, 3],
      nodata: 0
    }],
    convertToRGB: true
  }),
  opacity: 1,
  visible: true,
});

const map = new ol.Map({
  target: "map",
  layers: [
    ...Object.values(baseLayers),
  ],
  view: new ol.View({
    center: ol.proj.fromLonLat([-92.561, 16.403]),
    zoom: 8,
    projection: 'EPSG:3857',
  }),
});

function setBaseLayer(layerId) {
  Object.keys(baseLayers).forEach((key) => {
    baseLayers[key].setVisible(false);
  });

  baseLayers[layerId].setVisible(true);
}
map.addLayer(raster);*/
const extent4326 = [-93.445232235, 15.321834142, -92.753130442, 15.811199046];

    // Convertir a EPSG:3857 si estás usando OSM base
    const extent3857 = ol.proj.transformExtent(extent4326, 'EPSG:4326', 'EPSG:3857');

    const rasterLayer = new ol.layer.Image({
      source: new ol.source.ImageStatic({
        url: '/media/aptitud_forestal2.png',  // Ruta servida por Django
        imageExtent: extent3857,
        projection: 'EPSG:3857'
      })
    });

    const map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }),
        
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([-93.11, 15.56]),
        zoom: 10
      })
    });
    map.addLayer(rasterLayer)
</script>
</html>
